@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  /* color: whitesmoke; */
}

.bg-welcomePage {
  background-image: url('./assets/bg_welcomePage.png');
  background-size: cover;
}

.imgKirill {
  width: 150px;
  height: 150px;
  background-image: url('./assets/imgKirill.jpg');
}

.imgMax {
  width: 150px;
  height: 150px;
  background-image: url('./assets/imgMax.jpeg');
}

.imgNatasha {
  width: 150px;
  height: 150px;
  background-image: url('./assets/imgNatasha.jpeg');
}
